@media (min-width: 1400px) {
    .card {
        margin: 1%;
        max-width: 14.66%;
    }
}

@media (max-width: 1400px) {
    .card {
        margin: 1%;
        max-width: 23%;
    }
}

@media (max-width: 1000px) {
    .card {
        margin: 1%;
        max-width: 31.33%;
    }
}

@media (max-width: 780px) {
    .card {
        margin: 1%;
        max-width: 48%;
    }
}

@media (max-width: 500px) {
    .card {
        margin: 1%;
        max-width: 98%;
    }
}