@media (min-width: 1400px) {
    .sizable-card {
        width: 16.66%;
    }
}

@media (max-width: 1400px) {
    .sizable-card {
        width: 25%;
    }
}

@media (max-width: 1000px) {
    .sizable-card {
        width: 33.33%;
    }
}

@media (max-width: 780px) {
    .sizable-card {
       width: 50%;
    }
}

@media (max-width: 500px) {
    .sizable-card {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .responsive-table {
        table {
            display: none;
        }

    }
}

@media (min-width: 601px) {
    .responsive-table {
        .table-cards {
            display: none;
        }

    }
}

// Calendar 
@media (max-width:575px) {
    .display-4 {
        font-size: 1.5rem;
    }
    .day h5 {
        background-color: #f8f9fa;
        padding: 0.25em 0.5em 0.5em;
        margin: -8px -8px 8px -8px;
    }
    .date {
        padding-left: 0;
    }
}

@media (min-width: 576px) {
    .day {
        height: 10em;
    }
}